* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.start-section {
    display: flex;
    flex-direction: column;
}
.start-section input[type="button"] {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    background-color: lightgray;
    color: black;
}
.board {
    width: 280px;
    height: 280px;
    background: lightgray;
    display: grid;
    grid-template-columns: auto auto auto; 
    transition-property: background;
    transition-duration: 1s;
}
.whos-next {
    font-size: 20px;
}
.cell {
    width: 93.3px;
    height: 93.3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell:hover {
    background: rgb(192, 192, 192);
}
.cell:active {
    background: rgb(177, 177, 177);
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.74)
}
.cell2 {
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.cell4 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.cell5 {
    border: 2px solid black;
}
.cell6 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.cell8 {
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.icon {
    font-size: 70px;
}
.icon-player1 {
    font-size: 80px; /*Different sizes because the X seens small even with the same pxs*/
    color: rgb(0, 68, 255);
}
.icon-player2 {
    color: red;
}
.end-game-div {
    position: absolute;
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}