* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.start-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-section input[type="button"] {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    background-color: lightgray;
    color: black;
    box-shadow: 2px 2px 7px 2px rgb(0 0 0 / 40%);
}
.start-section input[type="button"]:hover {
    background-color: rgb(187, 187, 187);
}
.start-section input[type="button"]:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 60%)
}
.back-icon {
    color: black;
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 20px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.board {
    width: 280px;
    height: 280px;
    background: lightgray;
    display: grid;
    grid-template-columns: auto auto auto; 
    transition-property: background;
    transition-duration: 1s;
}
.cell {
    width: 93.3px;
    height: 93.3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 350px) {
    .board {
        width: 350px;
        height: 350px;
    }
    .cell {
        width: 116.6px;
        height: 116.6px;
    }
}
@media (min-width: 450px) {
    .board {
        width: 450px;
        height: 450px;
    }
    .cell {
        width: 150px;
        height: 150px;
    }
}
@media (min-width: 520px) {
    .board {
        width: 520px;
        height: 520px;
    }
    .cell {
        width: 173.3px;
        height: 173.3px;
    }
}
@media (min-width: 680px) {
    .board {
        width: 580px;
        height: 580px;
    }
    .cell {
        width: 193.3px;
        height: 193.3px;
    }
}
.cell:hover {
    background: rgb(192, 192, 192);
}
.cell:active {
    background: rgb(177, 177, 177);
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.74)
}
.cell2 {
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.cell4 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.cell5 {
    border: 2px solid black;
}
.cell6 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.cell8 {
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.icon {
    font-size: 70px;
    text-shadow: 3px 3px 4px #0000005e;
}
.icon-player1 {
    font-size: 90px; /*Different sizes because the X seens small even with the same pxs*/
    color: rgb(0, 68, 255);
}
@media (min-width: 350px) {
    .icon {
        font-size: 85px;
    }
    .icon-player1 {
        font-size: 113px;
    }
}
.icon-player2 {
    color: red;
}
.scoreboard {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}
.scoreboard div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.scoreboard .x-scores i {
    font-size: 30px;
    color: rgb(0, 68, 255);
    transform: scale(1.2);
}
.scoreboard .o-scores {
    filter: grayscale(1);
}
.scoreboard .o-scores i {
    font-size: 25px;
    color: red;
}
.scoreboard .tie-scores i {
    font-size: 30px;
}
.scoreboard p {
    font-size: 20px;
}
@media (min-width: 350px) {
    .scoreboard .x-scores i {
        font-size: 40px;
    }
    .scoreboard .x-scores {
        gap: 7px;
    }
    .scoreboard .o-scores i {
        font-size: 35px;
    }
    .scoreboard .o-scores {
        gap: 7px;
    }
    .scoreboard p {
        font-size: 25px;
    }
}